[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
fastapi = "*"
pypdf2 = "*"
langchain-text-splitters = "*"
langchain-naver = "*"
langchain-community = "*"
python-dotenv = "*"
uvicorn = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.12"
